@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

.collapse-plus > .collapse-title:after {
    right: 0.6rem;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
